@CHARSET "UTF-8";

@page {
	size: 297mm 210mm;
}

html {
	font-family: "LTHYSZK", "微软雅黑", sans-serif;
	line-height: 1.4;
	font-size: 14px;
}

.pure-table tfoot {
	color: #000;
	text-align: left;
	vertical-align: middle;
}

.pure-table-bordered tfoot th {
	border-top: 1px solid #cbcbcb;
}

.content-horiz {
	width: 277mm;
	margin: 0 auto;
}

.content {
	width: 190mm;
	margin: 0 auto;
}

.bill-table {
	width: 100%;
}

.bill-table>thead>tr>th, .bill-table>tbody>tr>td, .bill-table>tfoot>tr>th {
	padding: 1mm 2mm;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}